@font-face {
  font-family: "Needlework Good Regular";
  src: url("font/Needlework Good.ttf");
}

@font-face {
  font-family: "KGBlankSpaceSketch";
  src: url("font/KGBlankSpaceSketch.ttf");
}

@font-face {
  font-family: "SweetPineapple";
  src: url("font/SweetPineapple.otf");
}

#title_box {
  box-sizing: border-box;
  background-color: #eeeeee;
  border: groove;
  display: flex;
  margin-bottom: 25vw;
}

#title_name {
  font-family: "KGBlankSpaceSketch";
  text-align: center;
  font-size: 32px;
  margin-top: 12px;
  margin-bottom: 0px;
}

#subtitle_name {
  font-family: "Schoolbell", cursive;
  text-align: center;
  font-size: 14px;
  margin: auto;
}

#desc {
  background-color: #393e46;
}

#intro {
  font-family: "Schoolbell", cursive;
  font-size: 18px;
  color: #eeeeee;
  text-align: center;
  width: 35vw;
  display: flex;
  align-self: center;
  margin-bottom: 10vw;
}

.pic {
  margin-top: 2vw;
  height: 200px;
}

#academic_goals {
  background-color: #eeeeee;
}

#opinion_contact {
  background-color: #929aab;
  display: flex;
  align-items: center;
}

#glasses,
#goals,
.opinion-contact {
  margin-top: 2vw;
  height: 180px;
}

#academic,
#goals_desc {
  margin-top: 5vw;
  font-family: "Schoolbell", cursive;
  font-size: 18px;
  display: flex;
  align-self: flex-start;
  margin-bottom: 5vw;
}

#goals_desc {
  align-self: center;
  text-align: center;
  width: 40vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

#why,
#e-learning {
  font-family: "SweetPineapple";
  font-size: 24px;
  color: #393e46;
}

#e-learning {
  text-align: end;
}

#academic-content {
  margin-bottom: 2.5vw;
}

#opinion-text,
#contact-info {
  font-family: "Schoolbell", cursive;
  font-size: 16px;
  text-align: center;
  width: 20vw;
  color: #eeeeee;
}

footer {
  background-color: #393e46;
}

.footer-copyright {
  font-family: "Schoolbell", cursive;
  color: #eeeeee;
}

.date{
  font-family: 'Schoolbell', cursive;
  background-color: #393e46;
  color: #eeeeee;
  margin-bottom: 0px;
}


@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 10vw;
  }
  #title_box {
    background-color: transparent;
    border: none;
  }
  #intro {
    width: 100%;
  }
  #identity,
  #glasses,
  #goals,
  .opinion-contact {
    height: 160px;
    margin-left: auto;
    margin-right: auto;
  }
  #academic,
  #goals_desc {
    width: 100%;
    text-align: center;
    display: block;
  }
  #why,
  #e-learning {
    width: 100%;
  }
  #opinion-text,
  #contact-info {
    width: 100%;
  }
}
