{% extends 'base.html' %}

{% block content %} 
  <div class="container d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column" id="title_box">
        <p id="title_name">Project Gua!!</p>
        <p id="subtitle_name">
            hidup ini keras, jadinya semua harus tertata rapih, 
            <br>
            Scroll down buat ngeliat dan isi project!!!
        </p>
      </div>
    </div>

    <div 
        class="container-fluid d-flex flex-column" 
        id='desc'
        style="
                padding-bottom: 0px;
                font-family: 'Schoolbell', cursive;
                color : #eeeeee
                ">
        {% for satuData in data %}
        <br>
        <p>Judul         : {{ satuData.title }}</p>
        <p>Mulai/Selesai : {{ satuData.start }}/{{ satuData.deadline }}</p>
        <p>Deskripsi     : {{ satuData.desc }}</p>
        <p>Tempat        : {{ satuData.place }}</p>
        <p>Kategori      : {{ satuData.category }}</p>
        <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <br>
        {% endfor %}
    </div>

    <div class="container-fluid d-flex flex-column" id='desc' style="background-color: #929aab;">
        <form 
            action="#" 
            id="form" 
            method="POST" 
            style="
                display: flex;
                flex-direction: column;
                margin: 50px;
                font-family: 'Schoolbell', cursive
                ">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
